.form__inputs{
    display: flex;
    width: 100%;
    padding-bottom: 1em;
    border-bottom: 3px solid var(--lighter-gray-colour);

}

.form__input {
    margin: .5em 0;
    padding: .5em;
    border-radius: 5px;
}

.inputs-details{
    width: 100%;
}

.input-dropdown,
.input-range {
    display: flex;
    flex-direction: column;
}

.input-dropdown select,
input[type="text"]{
    margin: .5em 0;
    padding: .5em;
    border-radius: 5px;
    border: 1px solid var(--light-gray-colour);    
}

label{
    font-weight: bold;
}